
* {
  box-sizing: border-box;
}
.custom-accordion {
  width: 80%;
}
.header-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color: rgba(0, 68, 255, 0.759);
  text-decoration: underline;
}

.completed-task {
  text-decoration: line-through;
}

.uncompleted-task {
  text-decoration: none;
}

.accordion-style {
  box-shadow: 0 0 0.4em rgba(0, 68, 255, 0.759);
}
.adjust-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-nav {
  display: inline-flex;
 background-color: rgba(0, 68, 255, 0.047);
   margin-bottom: 50px;
  border-radius: 7px;
}
.custom-nav button {
  margin: 10px;
}